* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo 2';
    text-shadow:  2px 2px 2px rgb(40, 39, 39);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url(images/pink-dogs-smaller.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
}

/* Header Styles */

header {
    background-color: #5b0367;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.nav-list {
    display: flex;
    list-style-type: none;
}

.nav-list li {
    margin-left: 1rem;
}

.nav-list a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: #ca63d8;
}

.burger {
    display: none;
    cursor: pointer;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.1s ease;
}

.indexBody {
    flex-grow: 1;
} 

/* Home Styles */

.indexBody {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.headercontainer {
    background-color: #5b0367;
    opacity: 90%;
    height: 20rem;
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.indexHead {
    font-size: 80px;
}

/* Adopt Styles */

/* .adoptBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

.mainHead {
    color: white;
}

.gridcontainer {
    min-height: 90%;
    min-width: 90%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    grid-auto-rows: repeat(4, 1fr);
    margin: 1rem;
}

.card {
    background-color: #5b0367;
    margin: .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(250, 250, 250);
    border-radius: 20px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}

.card:hover {
    transition: .2s;
    transform: scale(1.1);
}

.cardtext {
  text-align: center;
  margin: 1rem;
  font-size: clamp(.5rem, 1.5rem, 2rem);
}

img {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    border: solid 5px white;
}

.cardTitle {
    grid-area: 1 / 2 / 1 / 4;
    font-size: clamp(.5rem, 1.3rem, 2rem);
}

.cardOne {
    grid-area: 2 / 1 / 2 / 2 ;
}

.cardTwo {
    grid-area: 2 / 2 / 2 / 2 ;
    
}

.cardThree {
    grid-area: 2 / 3 / 2 / 3;
    
}

.cardFour {
    grid-area: 2 / 4 / 2 / 4;
   
}

/* Gallery Styles */

.galleryBody {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.imgCard {
    margin: clamp(.5rem, 1rem, 1.5rem);
}


/* Footer Styles */

footer {
    background-color: #5b0367;
    color: white;
    padding: 1rem;
    margin-top: auto; 
}

@media screen and (max-width: 768px) {

    .headercontainer {
        height: 20rem;
        width: 30rem;
    }

    .indexHead {
        font-size: 70px;
    }

    .cardTitle {
        grid-area: 1 / 1 / 1 / 5;
    }

    .cardOne {
        grid-area: 2 / 1 / 3 / 3 ;
    }

    .cardTwo {
        grid-area: 2 / 3 / 3 / 5 ;
    }

    .cardThree {
        grid-area: 3 / 1 / 5 / 3 ;
    }

    .cardFour {
        grid-area: 3 / 3 / 5 / 5 ;
    }

    .nav-list {
        position: fixed;
        left: 0;
        top: -100%; 
        background-color: #5b0367;
        width: 100%;
        flex-direction: column;
        align-items: center;
        transition: top 0.5s ease-in;
        padding: 1rem 0;
    }

    .nav-list li {
        opacity: 0;
        margin: 1rem 0;
    }

    .burger {
        display: block;
    }
}

.nav-active {
    top: 0; 
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateY(50px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

@media screen and (max-width: 507px) {

    .headercontainer {
        height: 20rem;
        width: 20rem;
    }

    .indexHead {
        font-size: 50px;
    }

    .cardOne {
        grid-area: 2 / 1 / 3 / 5 ;
    }

    .cardTwo {
        grid-area: 3 / 1 / 4 / 5 ;
    }

    .cardThree {
        grid-area: 4 / 1 / 5 / 5 ;
    }

    .cardFour {
        grid-area: 5 / 1 / 6 / 5 ;
    }

}

@media screen and (max-width: 400px) {

    .headercontainer {
        height: 10rem;
        width: 17rem;
    }

    .indexHead {
        font-size: 40px;
    }

}